<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <pre>data = {{data|json}}</pre>
                <pre>form.value = {{form.value|json}}
f.submitted = {{f.submitted}}
form.pristine = {{form.pristine}}
form.dirty = {{form.dirty}}
form.touched = {{form.touched}}
form.untouched = {{form.untouched}}
form.disabled = {{form.disabled}}
form.enabled = {{form.enabled}}
form.valid = {{form.valid}}
form.invalid = {{form.invalid}}
form.errors = {{form.errors | json}}</pre>
                <form [formGroup]="form" class="user" (ngSubmit)="onSubmit(f)" #f="ngForm">

                  <div formArrayName="ids">

                    <div *ngFor="let group of form.get('ids')['controls']; let i=index"
                         [formGroupName]="i">

                        <div class="form-group" [class.input-error]="f.submitted && form.get('login.username').invalid">
                          <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                            aria-describedby="emailHelp" placeholder="Enter Email Address..."
                            formControlName="username">
                          <span *ngIf="group.get('username').invalid && group.get('username')['errors']?.required">請輸入帳號</span>
                          <span *ngIf="group.get('username').invalid && group.get('username')['errors']?.email">請輸入合法的 E-mail 信箱地址</span>
                        </div>

                <pre>group.get('username').value = {{group.get('username').value|json}}
group.get('username').pristine = {{group.get('username').pristine}}
group.get('username').dirty = {{group.get('username').dirty}}
group.get('username').touched = {{group.get('username').touched}}
group.get('username').untouched = {{group.get('username').untouched}}
group.get('username').disabled = {{group.get('username').disabled}}
group.get('username').enabled = {{group.get('username').enabled}}
group.get('username').valid = {{group.get('username').valid}}
group.get('username').invalid = {{group.get('username').invalid}}
group.get('username').errors = {{group.get('username').errors | json}}</pre>
                        <div class="form-group" [class.input-error]="f.submitted && group.get('password').invalid">
                          <input type="password" class="form-control form-control-user" id="exampleInputPassword"
                            placeholder="Password"
                            formControlName="password">
                        </div>

                    </div>

                    <button type="button" (click)="addNewLogin()">新增一組登入</button>
                    <button type="button" (click)="resetForm()">重置表單</button>

                  </div>

                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck"
                      formControlName="rememberMe">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">
                    Login
                  </button>
                  <hr>
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google
                  </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                  </a>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="forgot-password.html">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" href="register.html">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
